    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

nav{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: flex-end;
    gap: 5rem;
    padding: 10px;
}

 h1{
    color: aliceblue;
    padding: 0 20px;
}

.links{
    display: flex;
    align-items: center;
    list-style: none;
}

nav > .links > .link{
    padding: 0 20px;
}

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
a:hover{
    color: yellow;
    text-decoration: underline;
}